.card-sheet {
    display: flex;
    flex-grow: 1;
    margin: 40px 80px;

    .breadcrumb {
        position: relative;
        &-item:not(.active) a {
            color: var(--info);
        }
        .card-action {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translate(0, -50%);
            & > * {
                margin-bottom: 2px;
            }
        }
    }

    .card-body {
        padding: 60px;
    }

    #description:focus,
    #name:focus {
        outline: none;
        box-shadow: none;
    }
}
