.input-control {
    .form-control {
        padding: 10px;
        color: #fff;
        background-color: transparent;
        border-color: transparent;
        border-bottom-color: #fff;

        &:disabled {
            border-bottom-color: transparent;
        }
    }
}