.card-item-compact {
    transition: .2s;
    .card-link {
        text-decoration: none;
        color: unset;
    }
}

#card-content {
    min-width: 400px;
    .label {
        margin-right: 5px;
    }
}
