@import "~bootstrap/dist/css/bootstrap.min.css";
// @import "~bootstrap-slider/dist/css/bootstrap-slider.css";

html,
body,
#root,
.favein-app,
.page {
    position: relative;
    height: 100%;
}

.favein-app {
    .user,
    .rate,
    .comment,
    .label,
    .card-sheet,
    .card-item {
        margin: 10px;
    }

    .list {
        margin-top: 60px;
    }

    .headline {
        overflow: hidden;
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            margin-left: 24px;
            margin-right: -100%;
            border-bottom: 1px solid #000;
            vertical-align: middle;
        }
    }

    .darken {
        background-color: rgba(0, 0, 0, 0.8);
        transition: background-color 0.2s;
        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    .w-300 {
        min-width: 300px;
        width: 300px;
    }

    .w-400 {
        min-width: 400px;
        width: 400px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
    }
}
