$secondary: white;
$primary: black;

@mixin colorize-text($primary) {
    color: white;
    // background: #333333;
    text-shadow: $secondary 0px 0px 5px, $secondary 0px 0px 10px,
        // $secondary 0px 0px 15px,
            $primary 0px 0px 20px,
        $primary 0px 0px 30px, $primary 0px 0px 40px;
        // $primary 0px 0px 50px, $primary 0px 0px 75px;
}

.page-home {
    position: relative;
    .header {
        a.nav-link.text-secondary {
            color: var(--light)!important;
            opacity: 0.2;
            transition: .1s;
            &:hover {
                opacity: 0.6;
            }
        }
        a.navbar-brand {
            @include colorize-text(var(--info))
        }
    }

    .carousel-img {
        height: 100vh;
        object-fit: cover;
    }
}
