.comment {
    // FIXME: temp
    width: 100%;
    button.close {
        display: none;
    }

    .delete-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}