.page-404 {
    .error-main {
        padding: 100px;
        h1 {
            font-weight: bold;
            color: #444444;
            font-size: 100px;
        }
        h6 {
            color: #42494f;
        }
        p {
            color: #9897a0;
            font-size: 14px;
        }
    }
}
