.text-field {
    .form-control {
        padding: 10px;
        background-color: transparent;
        border-color: transparent;
        border-bottom-color: rgb(146, 146, 146);

        &:disabled {
            border-bottom-color: transparent;
        }
        &:focus {
            box-shadow: none;
            border-bottom-color: rgb(220, 220, 220);
        }
    }
}
