body, html, .app {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 1;
}

main {
    /* FIXME: */
    /*height: calc(100% - 56px - 72px);*/
    flex-grow: 999;
}

footer {
    flex-grow: 1;
}